@use "../../styles/variables";



@media (min-width: 875px) {
    .card_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 60px 0 60px 0;
            padding: 40px;
            background-color: variables.$secondary-color;
            border-radius: 20px;
    }
}

@media (min-width: 1560px) {
    .card_container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 340px);
            gap: 1rem; 
            justify-content: space-evenly;
            align-items: center; 
        }
}