@use "../../styles/variables";

*{
    font-family: Montserrat;
}

body{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

main{
    margin-top: 60px;
    margin-bottom: 60px;
}

.house_title{
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: variables.$primary-color;  
}

.house_location{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.house_tags{
        display: flex;
        margin: 5px 0;
}

.housse_article_host{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    background-color: variables.$primary-color;
    font-size: 10px;
    width: 120px;
    min-height: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    min-height: 25px;
    margin-right: 10px;
    text-wrap: nowrap;
}

.host_contenair{
    display: flex;
    align-items: center;
}

.house_host_picture{
    width: 32px;
    height: 32px;
    background-color:#C4C4C4;
    border-radius: 50%;
    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}

.house_host_contenair{
    display: flex;
}

.house_host_name {
    width: 60px;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    line-height: 17px;
    font-weight: 500;
    color: variables.$primary-color;
    display: flex;
    align-items: center;
}

.house_stars{
    color: variables.$primary-color;
    width: 155px;
    height: 18px;
    font-size: 14px;
}
.stars_inactive{
    color: #C4C4C4;
    font-size: 14px;
    margin-left: 6px;
}

.stars_active{
    color: variables.$primary-color;
    font-size: 14px;
    margin-left: 6px;
}

.house_host_contenair{
    display: block;
}

.house_information{  
        > * {
            width: 100%;
        }       
}



@media (min-width: 768px) {

    .house_title{
        font-size: 36px;
        line-height: 55px;
    }

    .house_location{
        font-size: 18px;
    }

    .house_information{
        display: flex;
        justify-content: space-between;  
        > * {
            width: 48%;
        }
    }

    .house_host_contenair{
        display: flex;
        align-items: center;
    }

    .house_host_picture{
        width: 64px;
        height: 64px;
        img{
            width: 64px;
            height:64px;
        }
    }

    .housse_article_host{
        align-items: start;
        justify-content: right;
        height: 15px;
    }

    .house_host_name {
        width: 93px;
        font-size: 18px;
        text-align: right;
        margin-right: 10px;
        line-height: 25px;
        font-weight: 500;
    }

    .tag {
        width: 150px;
        height: 30px;
        font-size: 14px;
    }

    .house_stars{
        width: 185px;
        height: 30px;
        position: absolute;
        transform: translateY(-55px);
    }

    .stars_inactive{
        font-size: 24px;
        margin-left: 10px;
    }
    
    .stars_active{
        font-size: 24px;
        margin-left: 10px;
    }
    
    .host_name{
        width: 70px;
        font-size: 12px;
    }
    
    .profile_pic{
        width: 32px;
        height: 32px;
    }
    .profile_pic img{
        width: 32px;
        height:32px;
        border-radius: 50%;
    }

    .host_contenair{
        position: relative;
        bottom: 155px;
    }

}