@use "../../styles/variables";

.container{
    color: variables.$primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 200px;
        margin: 40px;
    }
    h2 {
        margin: 40px;
    }
    p {
        margin: 40px;
        text-decoration: underline;
        cursor: pointer;
    }
}
